.a022_header_block {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }

  .a022_header_title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
  }

  .a022_add_button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 26px;
    background: #2F6BF2;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .a022_add_icon {
    width: 16px;
    height: 16px;
    fill: #ffffff;
  }


  
.a022_table_wrapper {
    width: 100%;
    font-size: 14px;
  }

  .a022_table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
  }

  .a022_thead {
  }

  .a022_tr_header {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .a022_th {
    padding: 10px 15px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .a022_tbody {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }

  .a022_tr_body {
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #ffffff;
    border-radius: 10px;
  }

  .a022_td {
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .a022_actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .a022_action_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .a022_action_button svg {
    width: 18px;
    height: 18px;
  }


  .a022_td_id{
    width: 60px;
  }

  .a022_td_status_active{
    color: #0A7E23;
  }

  .a022_td_status_deseible{
    color: #636363;
  }

  
  
  
  
  /* Для textarea */
.a023_input_textarea {
    border: none;
    padding: 10px 0;
    font-size: 16px;
    background: none;
    height: 18px;
    order: 2;
    outline: none;
}

.a023_input_textarea:focus + .a006_input_label {
    color: #2F6BF2;
}

  .a023_header_block {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }

  .a023_header_title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
  }

  .a023_add_button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 26px;
    background: #2F6BF2;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }



.a023_input_group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.a023_input_wrapper {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #E8E8ED;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 calc(50% - 32px); /* если 1 — займет 50% ширины */
    min-width: 250px; /* можно регулировать под ваш дизайн */
}

.a023_input_wrapper:hover {
    border-color: #c5c5c5;
}

.a023_input_label {
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s linear;
}

.a023_input_field {
    border: none;
    padding: 10px 0;
    font-size: 14px;
    background: none;
    order: 2;
    outline: none;
}


.a023_input_field_select {
    border: none;
    padding: 10px 0;
    font-size: 14px;
    background: none;
    order: 2;
    outline: none;
    appearance: none; /* Убираем стандартную стрелку в большинстве браузеров */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%232F6BF2" height="10" viewBox="0 0 24 24" width="10" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 20px;
    cursor: pointer;
}


.a023_input_field:focus + .a008_input_label {
    color: #2F6BF2;
}



/* Ошибочный стиль */
.a023_has_error {
  border-color: #FF4D4F;
}

.a023_has_error .a008_input_label {
  color: #FF4D4F;
}

/* Текст ошибки */
.a023_error_text {
  color: #FF4D4F;
  font-size: 12px;
  margin-top: 4px;
  line-height: 1.2;
}





.a023_toast {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  width: calc(100% - 32px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 12px;
  animation: fadeIn 0.3s ease;
}

.a023_toast_icon {
  font-size: 18px;
}

.a023_toast_success {
  background-color: #e6f6eb;
  color: #2e7d32;
  border: 1px solid #c1e7d0;
}

.a023_toast_error {
  background-color: #fdecea;
  color: #c62828;
  border: 1px solid #f5c6c6;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


.a023_checkbox_wrapper {    
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #E8E8ED;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 calc(50% - 32px); /* если 1 — займет 50% ширины */
    min-width: 250px; /* можно регулировать под ваш дизайн */
    justify-content: center;
}

.a023_checkbox_wrapper:hover {
    border-color: #c5c5c5;
}

.a023_checkbox_label {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.a023_checkbox_field {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    accent-color: #2F6BF2; /* Современный способ стилизации checkbox */
    cursor: pointer;
}



  
  /* Для textarea */
.a024_input_textarea {
    border: none;
    padding: 10px 0;
    font-size: 16px;
    background: none;
    height: 18px;
    order: 2;
    outline: none;
}

.a024_input_textarea:focus + .a006_input_label {
    color: #2F6BF2;
}

  .a024_header_block {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }

  .a024_header_title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
  }

  .a024_add_button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 26px;
    background: #2F6BF2;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }



.a024_input_group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.a024_input_wrapper {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #E8E8ED;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 calc(50% - 32px); /* если 1 — займет 50% ширины */
    min-width: 250px; /* можно регулировать под ваш дизайн */
}

.a024_input_wrapper:hover {
    border-color: #c5c5c5;
}

.a024_input_label {
    font-size: 14px;
    font-weight: 600;
    transition: color 0.3s linear;
}

.a024_input_field {
    border: none;
    padding: 10px 0;
    font-size: 14px;
    background: none;
    order: 2;
    outline: none;
}


.a024_input_field_select {
    border: none;
    padding: 10px 0;
    font-size: 14px;
    background: none;
    order: 2;
    outline: none;
    appearance: none; /* Убираем стандартную стрелку в большинстве браузеров */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%232F6BF2" height="10" viewBox="0 0 24 24" width="10" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 20px;
    cursor: pointer;
}


.a024_input_field:focus + .a008_input_label {
    color: #2F6BF2;
}



/* Ошибочный стиль */
.a024_has_error {
  border-color: #FF4D4F;
}

.a024_has_error .a008_input_label {
  color: #FF4D4F;
}

/* Текст ошибки */
.a024_error_text {
  color: #FF4D4F;
  font-size: 12px;
  margin-top: 4px;
  line-height: 1.2;
}





.a024_toast {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  width: calc(100% - 32px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 12px;
  animation: fadeIn 0.3s ease;
}

.a024_toast_icon {
  font-size: 18px;
}

.a024_toast_success {
  background-color: #e6f6eb;
  color: #2e7d32;
  border: 1px solid #c1e7d0;
}

.a024_toast_error {
  background-color: #fdecea;
  color: #c62828;
  border: 1px solid #f5c6c6;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


.a024_checkbox_wrapper {    
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #E8E8ED;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 0 0 calc(50% - 32px); /* если 1 — займет 50% ширины */
    min-width: 250px; /* можно регулировать под ваш дизайн */
    justify-content: center;
}

.a024_checkbox_wrapper:hover {
    border-color: #c5c5c5;
}

.a024_checkbox_label {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.a024_checkbox_field {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    accent-color: #2F6BF2; /* Современный способ стилизации checkbox */
    cursor: pointer;
}

.a024_green{
  background-color: #c1e7d0;
}

.a024_grey{
  background-color: #dddddd;
}