.a003_main_crm_header{
    width: 1120px;
    height: 60px;
    background: #F0F0F0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;    
}


.a003_main_crm_header_parent_btn{
    display: flex;
    margin: 10px 0;
    gap: 30px;

}


.a003_main_crm_header_crm_button{
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    color: #444444;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    background: #E6EBF4;
    justify-content: center;
}

.a003_main_crm_header_crm_button img{
    margin-right: 10px;
}


.a003_main_crm_header_parent_right{
    display: flex;
    align-items: center;
    margin-right: 80px;
}